<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>로그인</title>
<link rel="stylesheet" th:href="@{/css/common.css(v=${T(java.lang.System).currentTimeMillis()})}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<style>
  </style>
</head>
<body data-page="addEntry">
	<div th:replace="fragments/header :: commonHeader(#{menu.sales.salesTransfer})"></div> 
	<div class="form-container">
		<div class="section-header">
            <div class="datepicker-group">
               <span th:text = "#{search.inDate}">입고일 : </span><input type="text" id="datepicker"  autocomplete='off' placeholder="" readonly>
            </div>
            <div class="action-buttons">
                <button id="allCancelBtn" class="btn-action btn-cancel" onclick ="clearAll()" th:text = "#{btn.clear}">전체 취소</button>
            </div>
        </div>
		<div class="form-group">
            <div class="barcode-input" style= "display:none">
            	<span th:text = "#{search.barcode}">바코드 : </span>
                <input type="text" id="barcodeInput" class="form-input" th:placeholder = "#{info.barcode.scan}" autocomplete="off">
                <button id="scanBtn" class="scan-btn" onclick = "addEntry()" th:text="#{btn.scan}">스캔</button>
            </div>
            <div class = "storage-selector">
            	<span >OUT</span>
            	<select class=" storage-select1">
					<option value = "H/REST">H/REST</option>
		        </select>
            </div>
             <div class = "storage-selector">
            	<span >IN</span>
            	<select class=" storage-select2">
            			<option value = 'P1 W/HOUSE'>P1 W/HOUSE</option>
		           	<!-- <option th:each="item : ${factoryStorage}" th:value="${item}" th:text="${item}"
		           		th:selected="${#strings.equalsIgnoreCase(item, 'Material')}">
		           	</option> -->
		        </select>
            </div>
             <div class="storage-selector">
			  	<span>FACTORY</span>
			  	<select class="storage-in" id = "factoryno"> 
			  		<option value = 'P1'> P1</option>
			  		<option value = 'P2'> P2</option>
			  		<option value = 'P3'> P3</option>
			  	</select>
			</div>
        </div>
	</div>
	<div class="input-section">
		<div class="barcode-input">
         	 <span th:text = "#{search.wms}">바코드 </span>
             <input type="text" id="scanBarcode" class="form-input"  autocomplete="off" readonly>
         </div>
         <div class="barcode-input">
         	<span th:text = "#{search.assy}">바코드</span>
            <input id="scanBarcode2" readonly>
         </div>
         
		 <!-- <div class="input-group">
             <label class="input-label">조정 수량</label>
             <input type="number" class="qty-input" id="adjustqty" value="0" min="0">
             <div class="qty-controls">
                 <button class="qty-control-btn" onclick="adjustQuantity(-10)">-10</button>
                 <button class="qty-control-btn" onclick="adjustQuantity(-1)">-1</button>
                 <button class="qty-control-btn" onclick="adjustQuantity(1)">+1</button>
                 <button class="qty-control-btn" onclick="adjustQuantity(10)">+10</button>
             </div>
         </div> -->
         <div class="input-group">
         	<span></span>
         </div>
	</div>
	<!-- <div class="form-container">
		<div class="table-header">
            <span class="item-count" th:utext="#{table.total(${count} ?: 0)}">총 <span id="count">0</span>건</span>
			<span class="item-count" th:utext="#{table.totalqty(${totalqty} ?: 0)}">TOTAL QTY <span id="totalqty"></span></span>
        </div>
        <div class="table-scroll-area">
            <table class="data-table">
                <thead>
                    <tr>
                    	<th th:text = "#{search.storage}">창고</th>
                        <th th:text = "#{table.itemCode}">품번</th>
                        <th th:text = "#{table.lot}">LOT</th>
                        <th th:text = "#{table.no}">순번</th>
                        <th th:text = "#{table.qty}">수량</th>
                        <th rowspan="2" th:text = "#{btn.delete}">삭제</th>
                    </tr>
                </thead>
                <tbody id="dataTableBody">
                    동적으로 추가될 데이터
                </tbody>
            </table>
        </div>
	</div> -->
    <!-- 푸터 -->
    <div class="footer">
        <button id="allSendBtn" class="btn-primary" onclick = "saveBarcode()" th:text = "#{btn.saveBarcode}">전체 전송</button>
    </div>
     <!-- 로딩 스피너 -->
    <div id="loading" class="loading hidden">
        <div class="spinner"></div>
        <div th:text = "#{info.loading}">로딩중...</div>
    </div>
    <script th:src="@{/js/utils/common.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>
    <script th:src="@{/js/modules/sales/sales-transfer/salesTransfer.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>
	<script>
	function checkNetworkAndMove(url) {
		if (window.AndroidInterface && !AndroidInterface.isNetworkConnected()) {
		    AndroidInterface.showNoInternetDialog();
		    return;
		}
		location.href = url;
	}
	</script>
</body>
</html>