<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>로그인</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" th:href="@{/css/common.css(v=${T(java.lang.System).currentTimeMillis()})}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<style>
.storage-select1 {
    width: 87%;
    height: 5vh;
    padding: 6px;
    border: 1px solid lightgray;
}
.storage-select2 {
    width: 87%;
    height: 5vh;
    padding: 6px;
    border: 1px solid lightgray;
}
</style>
</head>
<body data-page="addEntry">
	<div th:replace="fragments/header :: commonHeader(#{menu.movement.warehouseout.out})"></div>
	<div class="form-container">
		<div class="section-header">
            <div class="datepicker-group">
               <span th:text = "#{search.inDate}">입고일 : </span><input type="text" id="datepicker"  autocomplete='off' placeholder="" readonly>
            </div>
            <div class="action-buttons">
                <button id="allCancelBtn" class="btn-action btn-cancel" onclick ="clearAll()" th:text = "#{btn.clearAll}">전체 취소</button>
            </div>
        </div>
		<div class="form-group">
            <div class="barcode-input">
            <span th:text = "#{search.barcode}">바코드 : </span>
                <input type="text" id="barcodeInput" class="form-input" th:placeholder = "#{info.barcode.scan}" autocomplete="off">
                <button id="scanBtn" class="scan-btn" onclick = "addEntry()" th:text="#{btn.scan}">스캔</button>
            </div>
	        <div class = "storage-selector">
            	<span >OUT</span>
            	<select class="storage-select storage-select1">

		        </select>
            </div>
             <div class = "storage-selector">
            	<span >IN</span>
            	<select class="storage-select storage-select2">

		        </select>
            </div>
        </div>
	</div>
	<div class="form-container">
		<div class="table-header">
			<span class="item-count" th:utext="#{table.total(${count} ?: 0)}">총 <span id="count">0</span>건</span>
        </div>
        <div class="table-scroll-area">
            <table class="data-table">
                <thead>
                    <tr>
                        <th th:text = "#{table.itemCode}">품번</th>
                        <th th:text = "#{table.indate}">입고일</th>
                        <th th:text = "#{table.qty}">수량</th>
                        <th th:text = "#{table.no}">순번</th>
                        <th th:text = "#{btn.delete}">삭제</th>
                    </tr>
                </thead>
                <tbody id="dataTableBody">
                    <!-- 동적으로 추가될 데이터 -->
                </tbody>
            </table>
        </div>
	</div>	
    <!-- 푸터 -->
    <div class="footer">
        <button id="allSendBtn" class="btn-primary" onclick = "saveBarcode()" th:text = "#{btn.saveBarcode}">전체 전송</button>
    </div>
     <!-- 로딩 스피너 -->
    <div id="loading" class="loading hidden">
        <div class="spinner"></div>
        <div th:text="#{info.loading}">로딩중...</div>
    </div>
     <script th:src="@{/js/utils/common.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>
    <script th:src="@{/js/modules/purchase/movement/warehouseoutOut.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>
	<script>
	hideLoading();
	function checkNetworkAndMove(url) {
		if (window.AndroidInterface && !AndroidInterface.isNetworkConnected()) {
		    AndroidInterface.showNoInternetDialog();
		    return;
		}
		location.href = url;
	}
	</script>
	<script th:inline="javascript">		// 접속하는 대메뉴에 따라 헤더바꾸기위해 필요함 타임리프에서 설정하고 js에서 추가 설정
	window.I18N = Object.assign(window.I18N || {}, {
	    "menu.aunde.move": /*[[#{menu.aunde.move}]]*/ ""
	  });
	</script>
</body>
</html>