<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" th:href="@{/css/header.css(v=${T(java.lang.System).currentTimeMillis()})}"> -->
<title>WMS 시스템</title>
<link rel="stylesheet" th:href="@{/css/common.css(v=${T(java.lang.System).currentTimeMillis()})}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<style>
#datepicker{
	margin-right: 0;
}
.barcode-cell {
    word-break: break-all;
    white-space: pre-wrap;
    max-width: 150px;
    line-height: 1.2;
}

.clickable-row:hover {
    background-color: #f5f5f5;
}
.table-scroll-area {
    max-height: 450px; /* 스크롤 영역 높이 */
    overflow-y: auto;
}
.unpack-row{
	height:50px
}
  </style>
</head>
<body data-page="addEntry">
	<div th:replace="fragments/header :: commonHeader(#{menu.labelPrint.pallet.unbound})"></div> 
	<div class="form-container">
		<div class="form-group">
            <div class = "barcode-input">
            	<span th:text="#{search.barcode}">Barcode</span>
            	<input type="text"	id=barcodeInput class="form-input" th:placeholder="#{info.barcode.scan}"autocomplete="off">
		        <button id="scanBtn" class="scan-btn" onclick="addEntry()" th:text="#{btn.search}">검색</button>
		        <input type="hidden" id="barcodeVal">
            </div>
        </div>
	</div>
	<div class="form-container">
		<div class="table-header">
            <span class="item-count" th:utext="#{table.total(${count} ?: 0)}">총 <span id="count">0</span>건</span>
			<span class="item-count" >QTY <span id="totalqty"></span></span>
        </div>
        <div class="table-scroll-area">
            <table class="data-table">
                <thead>
                    <tr>
                    	<th th:text="#{table.barcode}">Barcode</th>
                    	<th th:text="#{table.qty}">Qty</th>
                    </tr>
                </thead>
                <tbody id="dataTableBody">
                    <!-- 동적으로 추가될 데이터 -->
                </tbody>
            </table>
        </div>
	</div>
    <!-- 푸터 -->
    <div class="footer">
        <button id="storageBtn" class="btn-primary" onclick="saveBarcode()"
				th:text="#{menu.labelPrint.pallet.unbound}">save</button>
    </div>
    <!-- 로딩 스피너 -->
    <div id="loading" class="loading hidden">
        <div class="spinner"></div>
        <div th:text = "#{info.loading}">로딩중...</div>
    </div>
    <script th:src="@{/js/utils/common.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>
    <script	th:src="@{/js/modules/purchase/label/pallet_unbound.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>
	<script>
	function checkNetworkAndMove(url) {
		if (window.AndroidInterface && !AndroidInterface.isNetworkConnected()) {
		    AndroidInterface.showNoInternetDialog();
		    return;
		}
		location.href = url;
	}
	</script>
	
</body>
</html>