<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" th:href="@{/css/header.css(v=${T(java.lang.System).currentTimeMillis()})}"> -->
<title>로그인</title>
<link rel="stylesheet" th:href="@{/css/common.css(v=${T(java.lang.System).currentTimeMillis()})}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

<style>
  </style>
</head>
<body>
	<div class= 'header-div'th:replace="fragments/header :: commonHeader(#{menu.load})"></div> 
	<div class="container">
        <div class="menu-grid">
            <button id="btn-export-load" class="sub-menu-item load" onclick="checkNetworkAndMove('/ulsan/load/export-load')">
                수출품 출고
            </button>
            <button id="btn-domestic-load" class="sub-menu-item load" onclick="checkNetworkAndMove('/ulsan/load/domestic-load')">
                내수품 출고
            </button>
            <button id="btn-sequence-load" class="sub-menu-item load" onclick="checkNetworkAndMove('/ulsan/load/sequence-load')" >
                서열부품 출고
            </button>
            <button id="btn-load-detail" class="sub-menu-item load" onclick="checkNetworkAndMove('/ulsan/load/load-detail')" th:text = "#{menu.load.load.detail}">
                출고
            </button>
        </div>
    </div>

    <!-- 푸터 -->
    <div class="footer">
        <div class="footer-text">WMS v1.0 | <span id="currentDate"></span></div>
    </div>
    
     <!-- 로딩 스피너 -->
    <div id="loading" class="loading hidden">
        <div class="spinner"></div>
        <div th:text= "#{info.loading}">로딩중...</div>
    </div>
    <script th:src="@{/js/utils/common.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>
	<script>
	hideLoading();
	window.addEventListener("pageshow", function(event) {
	    hideLoading();
	});
	function checkNetworkAndMove(url) {
		showLoading();
		if (window.AndroidInterface && !AndroidInterface.isNetworkConnected()) {
		    AndroidInterface.showNoInternetDialog();
		    hideLoading();
		    return;
		}
		location.href = url;
	}
	</script>
</body>
</html>