<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.korea.UlsanMapper">

    <select id="getItemInfo" resultType = "map">
        SELECT PNO, QTY
        FROM T_SCM_BARCODE
        WHERE BARCODE = #{barcode}
    </select>

    <select id = "getPartQty" resultType = "String">
        select qty from t_scm_barcode
        where barcode = #{barcode}
        and useyn = 'Y'
        and rownum = 1
    </select>

    <select id="getTradebarcode" resultType="map">
        SELECT
            BARCODE,
            PNO,
            QTY
        FROM T_SCM_BARCODE
        WHERE TRADEBARCODE = #{barcode}
    </select>

    <select id="getItemList" resultType="map">
        SELECT
            ITEMCODE,
            ITEMNAME
        FROM T_MI_ITEM
        WHERE DELDATE = ' '
        AND BRANCH = '001'
        ORDER BY ITEMCODE
    </select>

    <select id="getHeadrestInfo" resultType="string">
        SELECT ITEMCODE
        FROM T_MI_ITEM
        -- 부품 바코드라 제품만 조회할 수 있도록
        WHERE CMB_ITEMTYPE = '001'
        AND SPEC = #{spec}
    </select>

    <update id = "removeBarcode">
        update t_wms_location
        set useyn = 'N',
        memo_d = #{dmemo},
        ymdhms_d=TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        where barcode = #{barcode}
        and useyn = 'Y'
    </update>

    <insert id="insInbound" parameterType="map">
        INSERT INTO t_wms_inbound (
            sdate,
            barcode,
            ymdhms,
            loginid,
            itemcode,
            qty,

            source,
            storage,
            factory,
            tradebarcode,
            custcode,
            custname
        )
        VALUES  (
            #{date},
            #{barcode},
            TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS'),
            #{loginid},
            #{itemcode},
            #{qty},

            #{source},
            #{storage},
            #{factory},
            #{tradebarcode},
            NVL((SELECT CUSTCODE FROM T_MI_PRICE_BUYCUST WHERE ITEMCODE = #{itemcode} ORDER BY CONDATE DESC FETCH FIRST 1 ROW ONLY), ''),
            (SELECT
            cu_sangho
            FROM c_cust
            WHERE cu_code = (NVL((SELECT CUSTCODE FROM T_MI_PRICE_BUYCUST WHERE ITEMCODE = #{itemcode} ORDER BY CONDATE DESC FETCH FIRST 1 ROW ONLY), '')))
        )
    </insert>

    <insert id = "saveLocation">
        insert into t_wms_location (
            sdate,
            ymdhms,
            location,
            barcode,
            itemcode,
            qty,
            memo,
            loginid,
            factory,
            storage,
            rack,
            module,
            levelcode,
            position,
            source,
            okyn
        ) values(
            #{date},
            TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'),
            #{location},
            #{barcode},
            #{itemcode},
            #{qty},
            #{memo},
            #{loginid},
            #{factory},
            #{storage},
            #{rack},
            #{module},
            #{levelcode},
            #{position},
            #{source},
            #{okyn}
        )
    </insert>

    <update id="updateLaststatusPart">
        update t_scm_barcode
        set laststatus = #{laststatus},
            lastfactory = #{factory},
            laststorage = #{storage}
        where barcode = #{barcode}
    </update>


    <!-- 상호명 불러오기 -->
    <select id="incomingSanghoException" resultType="string">
        select cu_code||'_'||cu_sangho from c_cust where chk_buy =1 order by cu_sangho
    </select>

    <!-- 입고내역 조회 - Detail -->
    <select id="searchIncomingDetail" resultType = "map">
        select
            a.iid,
            a.itemcode,
            to_number(a.qty) as qty,
            nvl(a.source,' ') as source,
            a.storage,
            substr(a.ymdhms,9,6) as time
        from t_wms_inbound a
        left outer join t_wms_location b on a.barcode = b.barcode and b.useyn ='Y'
        where a.sdate = #{date}
        and a.storage = #{storage}
        <if test="custcode != null and custcode != ''">
            and a.custcode = #{custcode}
        </if>
        <if test="custname != null and custname != ''">
            and a.custname = #{custname}
        </if>
        and a.source = 'INCOMING'
        and a.factory = #{factory}
        and a.useyn = 'Y'
        order by a.ymdhms desc
    </select>

    <!-- 입고내역 조회 - summary -->
    <select id="searchIncomingSummary" resultType = "map">
        SELECT
            a.sdate,
            a.factory,
            a.storage,
            a.itemcode,
            SUM(a.qty) as sumqty
        FROM t_wms_inbound a
        WHERE a.useyn = 'Y'
        AND A.SOURCE = 'INCOMING'
        AND a.sdate = #{date}
        AND a.storage = #{storage}
        AND a.factory = #{factory}
        <if test="custcode != null and custcode != ''">
            AND a.custcode = #{custcode}
        </if>
        <if test="custname != null and custname != ''">
            AND a.custname = #{custname}
        </if>
        GROUP BY a.sdate, a.itemcode, a.factory, a.storage
    </select>

    <insert id = "insRealStock">
        insert into t_wms_realstock(
            sdate,
            barcode,
            qty,
            loginid,
            ymdhms,
            type,
            itemcode,
            storage,
            location,
            factory,
            source
        ) values (
            #{date},
            #{barcode},
            #{qty},
            #{loginid},
            TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'),
            #{type},
            #{itemcode},
            #{storage},
            #{location},
            #{factory},
            #{source}
        )
    </insert>


    <!-- 재고실사 - 나열형 -->
    <select id="searchInventoryDetail" resultType="map">
        SELECT
            a.sdate,
            c.subname AS car,
            a.itemcode,
            b.itemname,
            a.qty,
            a.type,
            a.barcode,
            a.location,
            ymdhms
        FROM   t_wms_realstock a
        LEFT OUTER JOIN t_mi_item b ON a.itemcode = b.itemcode AND deldate = ' '
        LEFT OUTER JOIN t_mi_typesub c ON b.carno = c.subcode AND c.typecode = 'MI041'
        where useyn = 'Y'
        <if test ="sdate != null and sdate != ''">
            and a.sdate = #{sdate}
        </if>
        <if test = "factory != null and factory != ''">
            and factory = #{factory}
        </if>
        <if test = "storage != null and storage != ''">
            and storage = #{storage}
        </if>
        order by iid desc
    </select>

    <!-- 재고실사 - 집계형 -->
    <select id="searchInventorySummary" resultType="map">
        SELECT
            a.SDATE,
            a.itemcode,
            a.STORAGE,
            a.FACTORY,
            SUM(a.QTY) as sumqty
        FROM T_WMS_REALSTOCK a
        LEFT OUTER JOIN t_mi_item b ON a.itemcode = b.itemcode
        LEFT OUTER JOIN t_mi_typesub c ON b.carno = c.subcode AND c.typecode = 'MI041'
        WHERE a.useyn = 'Y'
        <if test ="sdate != null and sdate != ''">
            and a.sdate = #{sdate}
        </if>
        <if test = "factory != null and factory != ''">
            and a.factory = #{factory}
        </if>
        <if test = "storage != null and storage != ''">
            and a.storage = #{storage}
        </if>
        <if test = "itemcode != null and itemcode != ''">
            and a.itemcode = #{itemCode}
        </if>
        GROUP BY a.SDATE, a.itemcode, a.STORAGE, a.FACTORY, a.scantype
    </select>

    <insert id="insOutput" parameterType="map">
        INSERT INTO t_wms_outbound (
            sdate,
            barcode,
            ymdhms,
            loginid,
            itemcode,
            seq,
            qty,
            source,
            source2,
            factory,
            custcode,
            custname,
            oitemcode
        )
        VALUES  (
            #{date},
            #{barcode},
            TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS'),
            #{loginid},
            #{itemcode},
            #{seq},
            #{qty},
            #{source},
            #{source2},
            #{factory},
            #{custcode},
            #{custname},
            #{oitemcode}
        )
    </insert>

    <insert id="insertStockOutput" parameterType="map">
        INSERT INTO t_wms_stock (
            sdate,
            kind,
            barcode,
            inqty,
            outqty,
            qty,
            itemcode,
            ymdhms,
            mainkind,
            loginid,
            insdate,
            factory
        )
        VALUES  (
            #{date},
            #{kind},
            #{barcode},
            0,
            #{qty},
            #{qty},
            #{itemcode},
            TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS'),
            #{main},
            #{loginid},
            TO_CHAR(SYSDATE,'YYYY-MM-DD'),
            #{factory}
        )
    </insert>

    <select id="searchLoadDetail" resultType = "map">
        SELECT
            a.iid,
            NVL(a.itemcode, ' ') AS itemcode,
            TO_NUMBER(a.qty) AS qty,
            SUBSTR(a.ymdhms,9,6) AS time
        FROM t_wms_outbound a
        LEFT JOIN (
            SELECT barcode
            FROM (
                SELECT
                barcode,
                ROW_NUMBER() OVER (PARTITION BY barcode ORDER BY ymdhms DESC) AS rn
                FROM t_wms_location
            )
            WHERE rn = 1
        ) B
        ON a.barcode = b.barcode
        WHERE a.sdate = #{date}
        and a.useyn = 'Y'
        AND a.source IN ('LOAD')
        <if test = "custname != null and custname != ''">
            and a.custname LIKE '%' || #{custname} ||'%'
        </if>
        ORDER BY a.ymdhms DESC
    </select>

    <insert id="insValidation" parameterType="map">
        INSERT INTO t_wms_validation (
            SDATE,
            CARTBARCODE,
            ASSYBARCODE,
            CARTQTY,
            ASSYQTY,
            OITEMCODE,
            YMDHMS,
            SOURCE,
            factory
        ) VALUES (
            TO_CHAR(SYSDATE, 'YYYY-MM-DD'),
            #{cartBarcode},
            #{assyBarcode},
            #{cartQty},
            #{assyQty},
            #{oitemcode},
            TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'),
            #{source},
            #{factory}
        )
    </insert>

    <select id="getStorage" resultType="string">
        SELECT DISTINCT STORAGE
        FROM T_WMS_WAREHOUSE
        <where>
           <if test="type != null and type != ''">
               MEMO2 = #{type}
           </if>
        </where>
        ORDER BY STORAGE
    </select>
</mapper>