<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" th:href="@{/css/header.css(v=${T(java.lang.System).currentTimeMillis()})}"> -->
<title>WMS 시스템</title>
<link rel="stylesheet" th:href="@{/css/common.css(v=${T(java.lang.System).currentTimeMillis()})}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<style>
#datepicker{
	margin-right: 0;
}
.table-scroll-area {
    max-height: 390px; /* 스크롤 영역 높이 */
    overflow-y: auto;
}
  </style>
</head>
<body data-page="addEntry">
	<div th:replace="fragments/header :: commonHeader(#{menu.stockCount.detail})"></div> 
	<div class="form-container">
		<div class="datepicker-group">
			<span th:text="#{search.inDate}">입고일 : </span><input type="text"
				id="datepicker" autocomplete='off' placeholder="입고일" readonly>
			<button id="scanBtn" class="scan-btn" onclick="searchInventory()" th:text="#{btn.search}">검색</button>			
		</div>
		<div class="form-group">
			<div class = "storage-selector">
            	<select id="locationPart1" class="location-select">
            		<option value = 'WBTA'>WBTA</option>
				</select>  
				<select id="locationPart2"	class="location-select storage-select">
					<option value = 'MATERIAL'>MATERIAL</option>
					<option value = 'PRODUCT'>PRODUCT</option>
				</select> 
            </div>
            <div class ="storage-selector">
            	<span >ScanType : </span>
            	<select class=".customer-selector" id = "scantype">
            		<option value = "All">All</option>
            		<option value = "LOCATION">Location</option>
            		<option value = "BARCODE">Barcode</option>
            	</select>
            </div>
        </div>
	</div>
	<div class="form-container">
		<div class="table-header">
            <span class="item-count" th:utext="#{table.total(${count} ?: 0)}">총 <span id="count">0</span>건</span>	
			<span class="item-count" th:utext="#{table.totalqty(${totalqty} ?: 0)}">TOTAL QTY <span id="totalqty"></span></span>
        </div>
        <div class="table-scroll-area">
            <table class="data-table">
                <thead>
                    <tr>
                    	<th th:text="#{table.scanType}">SCANTYPE</th>
                    	<th th:text="#{table.date}">SDATE</th>
                    	<th th:text="#{table.car}">CAR</th>
                    	<th th:text="#{table.itemcode}">ITEMCODE</th>
                    	<th th:text="#{table.itemname}">ITEMNAME</th>
                    	<th th:text="#{table.qty}">QTY</th>
                    	<th th:text="#{table.type}">TYPE</th>
                    	<th th:text="#{table.barcode}">BARCODE</th>
                    	<th th:text="#{table.location}">Location</th>
                    	<th th:text="#{table.lotDate}">LOTDATE</th>
                    	<th th:text="#{table.time}">YMDHMS</th>
                    </tr>
                </thead>
                <tbody id="dataTableBody">
                    <!-- 동적으로 추가될 데이터 -->
                </tbody>
            </table>
        </div>
	</div>
    <!-- 푸터 -->
    <div class="footer">
        <div class="footer-text">WMS v1.0 | <span id="currentDate"></span></div>
    </div>
    <!-- 로딩 스피너 -->
    <div id="loading" class="loading hidden">
        <div class="spinner"></div>
        <div th:text = "#{info.loading}">로딩중...</div>
    </div>
    <script th:src="@{/js/utils/common.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>
    <script	th:src="@{/js/modules/purchase/stock-count/in-detail.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>
	<script>
	function checkNetworkAndMove(url) {
		if (window.AndroidInterface && !AndroidInterface.isNetworkConnected()) {
		    AndroidInterface.showNoInternetDialog();
		    return;
		}
		location.href = url;
	}
	</script>
	
</body>
</html>