<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.demo.mapper.mexico.CloseMapper">
	<select id="checkClosedMonth" resultType="int">
		<![CDATA[select count(*) from t_wms_close where month >= #{date}]]>
	</select>
</mapper>